modules = ["web"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 45176267
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx serve . -l 5000"
